password=

IMAGE="bash /scripts/scan_wrapper.sh image"                                                                                                 
OCR="bash /scripts/scan_wrapper.sh ocr"                                                                                                     
EMAIL="bash /scripts/scan_wrapper.sh email"                                                                                                 
FILE="bash /scripts/scan_wrapper.sh file"                                                                                                   

SEMID=b
